<div class="{{ div_style|default("btn-group") }}" x730609651254-x-test-tpl-1>    {% if default_item.icon %}
    <i class="material-icons" x730609651254-x-test-hook-2>{{ default_item.icon }}</i>
    {% endif %}
</div>
