<div class="calendar" x458319763843-x-test-tpl-1>    <div x458319763843-x-test-hook-2>
        <span x458319763843-x-test-hook-3>{{ctrl.modelValue | date}}</span>&nbsp;
        <a href="" ng-click="ctrl.toggleCalendar()" x458319763843-x-test-hook-4>[Toggle calendar]</a>
    </div>

    <table class="calendar-table table table-bordered" ng-if="ctrl.showCalendar" x458319763843-x-test-hook-5>
        <thead x458319763843-x-test-hook-6>
            <tr class="calendar-header" x458319763843-x-test-hook-7>
                <th colspan="3" style="border: none;" x458319763843-x-test-hook-8>
                    <select ng-options="index*1 as month for (index, month) in ctrl.months" ng-model="ctrl.selectedMonth" x458319763843-x-test-hook-9></select>
                </th>
                <th colspan="2" style="border: none;" x458319763843-x-test-hook-10>
                    <select ng-options="year for year in ctrl.years" ng-model="ctrl.selectedYear" x458319763843-x-test-hook-11></select>
                </th>
                <th colspan="2" style="text-align:right; border: none;" x458319763843-x-test-hook-12>
                    <a href="" ng-click="ctrl.setToday()" x458319763843-x-test-hook-13>Today</a>
                </th>
            </tr>
        </thead>
        <tbody x458319763843-x-test-hook-14>
            <tr class="calendar-header" x458319763843-x-test-hook-15>
                <td class="calendar-header-day" ng-repeat="dayName in ctrl.dayNames" x458319763843-x-test-hook-16>{{::dayName}}</td>
            </tr>
            <tr ng-repeat="week in ctrl.weeks" x458319763843-x-test-hook-17>
                <td ng-repeat="day in week.days track by $index" ng-class="{'selected-day': ctrl.isSelected(day), 'calendar-day' : !!day}"
                    ng-click="ctrl.selectDay(day)" x458319763843-x-test-hook-18>{{::day.getDate()}}</td>
            </tr>
        </tbody>
    </table>
</div>
