<div lang="en" x458324484408-x-test-tpl-1>    <span aria-hidden="true" x458324484408-x-test-hook-2>{{ctrl.modelValue | date}}</span>
    <a href="" ng-click="ctrl.toggleCalendar()" x458324484408-x-test-hook-3>[Toggle calendar]</a>
    <script type="text/ng-template">
        <div x458324484408-x-test-hook-4>
            <label aria-hidden="true" x458324484408-x-test-hook-5>{{ctrl.modelValue | date}}</label>
            <a href="" ng-click="ctrl.toggleCalendar()" x458324484408-x-test-hook-6>[Toggle calendar]</a>
        </div>
    </script>
</div>
