<div x458326219131-x-test-tpl-1>    <div class="form-group" x458326219131-x-test-hook-2>
        <ul class="nav nav-tabs" x458326219131-x-test-hook-3>
            <li ui-sref-active-eq="active" x458326219131-x-test-hook-4><a ui-sref="main" x458326219131-x-test-hook-5>Home</a></li>
            <li ui-sref-active="active" x458326219131-x-test-hook-6><a ui-sref="main.users" x458326219131-x-test-hook-7>Users</a></li>
            <li ui-sref-active="active" x458326219131-x-test-hook-8><a ui-sref="main.tasks" x458326219131-x-test-hook-9>Tasks</a></li>
        </ul>
    </div>

    <ui-view x458326219131-x-test-hook-10>
        <h1 x458326219131-x-test-hook-11>Sample App</h1>
        <p x458326219131-x-test-hook-12>Welcome to AngularJS sample application!</p>
    </ui-view>

</div>
