<div class="form-group" x458327672851-x-test-tpl-1>    <form x458327672851-x-test-hook-2>
        <div class="form-group" x458327672851-x-test-hook-3>
            <label x458327672851-x-test-hook-4>Task description:</label>
            <input type="text" class="form-control" ng-model="ctrl.task.description" x458327672851-x-test-hook-5>
        </div>
        <div class="form-group" x458327672851-x-test-hook-6>
            <label x458327672851-x-test-hook-7>Assigned to:</label>
            <select ng-options="user.name as user.name for user in ctrl.users" ng-model="ctrl.task.user" class="form-control" x458327672851-x-test-hook-8></select>
        </div>
        <button type="button" class="btn btn-default" ng-click="ctrl.save()" x458327672851-x-test-hook-9>Save</button>
        <button type="button" class="btn btn-default" ui-sref="^" x458327672851-x-test-hook-10>Cancel</button>
    </form>
</div>
